.WelcomeLogged
{
    text-align: center;
    font-size: 40px;
    color: black;
}
.welcome
{
    text-align: center;
    font-size: 40px;
    color: black;
}
.table-container 
{
    width: 80%;
    margin: 0 auto;
    align-items:center;
    justify-content:center;
}
.table-container table{
    width: 100%;
}


.table-container  tr:nth-child(odd) 
    {
        background-color: white;
    }

.table-container  tr:nth-child(even) 
{
        background-color: #eee;
}
@media only screen and (min-width: 0px) and (max-width: 900px)
{
    .WelcomeLogged
    {
        text-align: center;
        font-size: 20px;
        color: black;
    }
   
    .table-container thead th,
    .table-container tbody td
    {
        display: flex;
    }
    .table-container tr
    {
        margin-top: 10px;
    }
    
    .table-container 
    {
        width: 80%;
        margin: 0 auto;
        align-items:center;
        justify-content:center;
    }
    .table-container table{
        width: 100%;
    }
    table thead {
        display: none;
      }  
    table td 
    {
        text-align: center;
        display: flex;
    }

    
    

    .carPhotos
    {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .table-container  tr:nth-child(odd) 
    {
        background-color: white;
    }

    .table-container  tr:nth-child(even) 
    {
        background-color: #eee;
    }

    .add-new-car
    {
        margin-top:1em;
    }

}